.hao-icon {
  --hao-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--hao-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .hao-icon--$(val) {
    --hao-icon-color: var(--hao-color-$(val));
  }
}
